body {
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
        "header header header"
        "menu main main"
        "menu main main"
        "menu main main"
        "footer footer footer";

    grid-template-columns: 40vh auto auto;
    grid-template-rows: 155px 15vh 15vh 15vh 20vh;

    text-align: center; 
}

p {margin: 0;}

.o-header { grid-area: header;}
.o-footer { grid-area: footer; text-indent: 0;}

.o-footer, .o-header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 153, 102);
}


.o-left {
    grid-area: menu;
    background-color: rgb(255, 153, 102);
}

.o-main { grid-area: main;}

#content {
    width: 100%;
    min-height: 45vh;
}

p {margin: 0;}

