body {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
        "header header header"
        "cons main main"
        "labs main main"
        "news main main"
        "about main main"
        "empty main main"
        "footer footer footer";

    grid-template-columns: 40vh auto auto;
    grid-template-rows: 155px 4vh 4vh 4vh 4vh auto 15vh;

    text-align: center;
    background-color: gray; 
}

p {margin: 0;}

.o-main { grid-area: main;}
.o-con { grid-area: cons;} 
.o-labs { grid-area: labs;}
.o-news { grid-area: news;}
.o-about { grid-area: about;}
.o-empty { grid-area: empty;}

.o-con, .o-labs, .o-news, .o-about, .o-empty {
    background-color: rgb(255, 153, 102);
}

.o-header {grid-area: header;}
.o-footer {grid-area: footer;}

.o-header, .o-footer {
    text-indent: 0;
    background-color: black;
    color: white;
}

.clickable {
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    color: white;
    text-align: center;
    font-weight: bold;
}

#content {
    width: 100%;
    min-height: 55vh;
}
