body {background-color: white;}

.help {cursor: help;}
.clickable {cursor: pointer;}

.container {
    position: absolute;
    left: 25%;
    top: 10%;
    width: 50%;
    min-width: 500px;
    border: 3px double;
    border-radius: 15px;
}

.form-line {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    border: hidden;
    border-radius: 10px;
}

.login-btn, .save-btn {
    color:white;
    background-color: rgb(62, 98, 255);
}

.del-btn {
    color:white;
    background-color: rgb(255, 62, 62);
}
